<nav class="navbar">
  <div class="container">
    <a class="logo" routerLink="/">Biagio Imóveis SP</a>
    <ul class="nav-links" [class.open]="menuOpen">
      <li><a routerLink="/">Home</a></li>
      <li><a routerLink="/about">Sobre</a></li>
      <li><a routerLink="/contato">Contato</a></li>
      <li>
        <a class="cta" routerLink="/contato">FALE CONOSCO</a>
      </li>
    </ul>
    <button class="menu-toggle" (click)="menuOpen = !menuOpen">
      <span class="material-icons">menu</span>
    </button>
  </div>
</nav>
