<div
  *ngIf="imovelSignal() as imovel; else carregando"
  class="container-imovel-detalhe"
>
  <h1>{{ imovel.nome }}</h1>

  <!-- Fachada -->
  <div class="fachada-container">
    <img
      [src]="'/assets/' + imovel.nome + '/' + imovel.foto_fachada[0]"
      alt="Fachada {{ imovel.nome }}"
      class="img-fachada"
    />
  </div>

  <!-- Galeria de Apartamentos -->
  <section *ngIf="imovel.fotos_apartamentos?.length">
    <h2>Apartamentos</h2>
    <div class="galeria-imoveis">
      <img
        *ngFor="let foto of imovel.fotos_apartamentos"
        [src]="'/assets/' + imovel.nome + '/' + foto"
        alt="Foto apartamento {{ imovel.nome }}"
        class="img-imovel"
      />
    </div>
  </section>

  <!-- Galeria de Lazer -->
  <section *ngIf="imovel.fotos_lazer?.length">
    <h2>Lazer</h2>
    <div class="galeria-imoveis">
      <img
        *ngFor="let foto of imovel.fotos_lazer"
        [src]="'/assets/' + imovel.nome + '/' + foto"
        alt="Foto lazer {{ imovel.nome }}"
        class="img-imovel"
      />
    </div>
  </section>

  <!-- Plantas -->
  <section *ngIf="imovel.plantas?.length">
    <h2>Opções de Planta</h2>
    <div class="galeria-plantas">
      <ng-container *ngFor="let p of imovel.plantas; let i = index">
        <img
          class="img-planta"
          [src]="'/assets/' + imovel.nome + '/' + p.foto"
          alt="Planta {{ i + 1 }} de {{ imovel.nome }}"
        />
      </ng-container>
    </div>
  </section>
</div>

<ng-template #carregando>
  <p>Carregando informações do imóvel...</p>
</ng-template>
