<div class="caixa-filtros">
  <!-- FILTRO POR BAIRRO -->
  <input
    type="text"
    placeholder="Filtrar por bairro"
    (input)="onBairroChange($any($event.target).value)"
  />

  <!-- FILTRO POR ÁREA -->
  <div class="filtro-range">
    <label>Área (m²): {{ selArea().min }} – {{ selArea().max }}</label>
    <div class="range-container">
      <!-- Thumb Mínimo -->
      <input
        type="range"
        [min]="areaDom().min"
        [max]="areaDom().max"
        [step]="1"
        [(ngModel)]="selArea().min"
        (input)="onAreaMinChange(selArea().min)"
        [ngStyle]="{
          '--thumb-min':
            ((selArea().min - areaDom().min) * 100) /
              (areaDom().max - areaDom().min) +
            '%'
        }"
        [style.zIndex]="selArea().min > selArea().max - 1 ? 2 : 3"
      />
      <!-- Thumb Máximo -->
      <input
        type="range"
        [min]="areaDom().min"
        [max]="areaDom().max"
        [step]="1"
        [(ngModel)]="selArea().max"
        (input)="onAreaMaxChange(selArea().max)"
        [ngStyle]="{
          '--thumb-max':
            ((selArea().max - areaDom().min) * 100) /
              (areaDom().max - areaDom().min) +
            '%'
        }"
      />
    </div>
  </div>

  <!-- FILTRO POR QUARTOS -->
  <div class="filtro-range">
    <label>Quartos: {{ selQuartos().min }} – {{ selQuartos().max }}</label>
    <div class="range-container">
      <input
        type="range"
        [min]="quartosDom().min"
        [max]="quartosDom().max"
        [step]="1"
        [(ngModel)]="selQuartos().min"
        (input)="onQuartosMinChange(selQuartos().min)"
        [ngStyle]="{
          '--thumb-min':
            ((selQuartos().min - quartosDom().min) * 100) /
              (quartosDom().max - quartosDom().min) +
            '%'
        }"
        [style.zIndex]="selQuartos().min > selQuartos().max - 1 ? 2 : 3"
      />
      <input
        type="range"
        [min]="quartosDom().min"
        [max]="quartosDom().max"
        [step]="1"
        [(ngModel)]="selQuartos().max"
        (input)="onQuartosMaxChange(selQuartos().max)"
        [ngStyle]="{
          '--thumb-max':
            ((selQuartos().max - quartosDom().min) * 100) /
              (quartosDom().max - quartosDom().min) +
            '%'
        }"
      />
    </div>
  </div>

  <!-- FILTRO POR SUÍTES -->
  <div class="filtro-range">
    <label>Suítes: {{ selSuites().min }} – {{ selSuites().max }}</label>
    <div class="range-container">
      <input
        type="range"
        [min]="suitesDom().min"
        [max]="suitesDom().max"
        [step]="1"
        [(ngModel)]="selSuites().min"
        (input)="onSuitesMinChange(selSuites().min)"
        [ngStyle]="{
          '--thumb-min':
            ((selSuites().min - suitesDom().min) * 100) /
              (suitesDom().max - suitesDom().min) +
            '%'
        }"
        [style.zIndex]="selSuites().min > selSuites().max - 1 ? 2 : 3"
      />
      <input
        type="range"
        [min]="suitesDom().min"
        [max]="suitesDom().max"
        [step]="1"
        [(ngModel)]="selSuites().max"
        (input)="onSuitesMaxChange(selSuites().max)"
        [ngStyle]="{
          '--thumb-max':
            ((selSuites().max - suitesDom().min) * 100) /
              (suitesDom().max - suitesDom().min) +
            '%'
        }"
      />
    </div>
  </div>

  <!-- FILTRO POR BANHEIROS -->
  <div class="filtro-range">
    <label
      >Banheiros: {{ selBanheiros().min }} – {{ selBanheiros().max }}</label
    >
    <div class="range-container">
      <input
        type="range"
        [min]="banheirosDom().min"
        [max]="banheirosDom().max"
        [step]="1"
        [(ngModel)]="selBanheiros().min"
        (input)="onBanheirosMinChange(selBanheiros().min)"
        [ngStyle]="{
          '--thumb-min':
            ((selBanheiros().min - banheirosDom().min) * 100) /
              (banheirosDom().max - banheirosDom().min) +
            '%'
        }"
        [style.zIndex]="selBanheiros().min > selBanheiros().max - 1 ? 2 : 3"
      />
      <input
        type="range"
        [min]="banheirosDom().min"
        [max]="banheirosDom().max"
        [step]="1"
        [(ngModel)]="selBanheiros().max"
        (input)="onBanheirosMaxChange(selBanheiros().max)"
        [ngStyle]="{
          '--thumb-max':
            ((selBanheiros().max - banheirosDom().min) * 100) /
              (banheirosDom().max - banheirosDom().min) +
            '%'
        }"
      />
    </div>
  </div>

  <!-- FILTRO POR LAVABOS -->
  <div class="filtro-range">
    <label>Lavabos: {{ selLavabos().min }} – {{ selLavabos().max }}</label>
    <div class="range-container">
      <input
        type="range"
        [min]="lavabosDom().min"
        [max]="lavabosDom().max"
        [step]="1"
        [(ngModel)]="selLavabos().min"
        (input)="onLavabosMinChange(selLavabos().min)"
        [ngStyle]="{
          '--thumb-min':
            ((selLavabos().min - lavabosDom().min) * 100) /
              (lavabosDom().max - lavabosDom().min) +
            '%'
        }"
        [style.zIndex]="selLavabos().min > selLavabos().max - 1 ? 2 : 3"
      />
      <input
        type="range"
        [min]="lavabosDom().min"
        [max]="lavabosDom().max"
        [step]="1"
        [(ngModel)]="selLavabos().max"
        (input)="onLavabosMaxChange(selLavabos().max)"
        [ngStyle]="{
          '--thumb-max':
            ((selLavabos().max - lavabosDom().min) * 100) /
              (lavabosDom().max - lavabosDom().min) +
            '%'
        }"
      />
    </div>
  </div>

  <!-- FILTRO POR VAGAS -->
  <div class="filtro-range">
    <label>Vagas: {{ selVagas().min }} – {{ selVagas().max }}</label>
    <div class="range-container">
      <input
        type="range"
        [min]="vagasDom().min"
        [max]="vagasDom().max"
        [step]="1"
        [(ngModel)]="selVagas().min"
        (input)="onVagasMinChange(selVagas().min)"
        [ngStyle]="{
          '--thumb-min':
            ((selVagas().min - vagasDom().min) * 100) /
              (vagasDom().max - vagasDom().min) +
            '%'
        }"
        [style.zIndex]="selVagas().min > selVagas().max - 1 ? 2 : 3"
      />
      <input
        type="range"
        [min]="vagasDom().min"
        [max]="vagasDom().max"
        [step]="1"
        [(ngModel)]="selVagas().max"
        (input)="onVagasMaxChange(selVagas().max)"
        [ngStyle]="{
          '--thumb-max':
            ((selVagas().max - vagasDom().min) * 100) /
              (vagasDom().max - vagasDom().min) +
            '%'
        }"
      />
    </div>
  </div>

  <!-- FILTRO POR PREÇO -->
  <div class="filtro-range">
    <label>Preço (R$): {{ selPreco().min }} – {{ selPreco().max }}</label>
    <div class="range-container">
      <input
        type="range"
        [min]="precoDom().min"
        [max]="precoDom().max"
        [step]="1000"
        [(ngModel)]="selPreco().min"
        (input)="onPrecoMinChange(selPreco().min)"
        [ngStyle]="{
          '--thumb-min':
            ((selPreco().min - precoDom().min) * 100) /
              (precoDom().max - precoDom().min) +
            '%'
        }"
        [style.zIndex]="selPreco().min > selPreco().max - 1000 ? 2 : 3"
      />
      <input
        type="range"
        [min]="precoDom().min"
        [max]="precoDom().max"
        [step]="1000"
        [(ngModel)]="selPreco().max"
        (input)="onPrecoMaxChange(selPreco().max)"
        [ngStyle]="{
          '--thumb-max':
            ((selPreco().max - precoDom().min) * 100) /
              (precoDom().max - precoDom().min) +
            '%'
        }"
      />
    </div>
  </div>

  <!-- BOTÃO PARA LIMPAR TODOS OS FILTROS -->
  <button (click)="onLimparFiltros()">Limpar filtros</button>
</div>

<!-- GRADE DE CARDS -->
<div class="lista-cards">
  <ng-container *ngFor="let a of apartamentos()">
    <app-card-apartamento [a]="a"></app-card-apartamento>
  </ng-container>
</div>
