<ng-container *ngFor="let a of apartamentos">
  <div class="card card-apartamento">
    <img
      class="card-img-top"
      [src]="'/assets/' + a.fotos[0]"
      alt="Foto do {{ a.nome }}"
    />
    <div class="card-body">
      <h2 class="card-title">{{ a.nome }}</h2>

      <p class="card-area">
        {{ areaFormatada(a) }}
      </p>

      <p class="card-local">{{ a.bairro }}, {{ a.cidade }}</p>

      <div class="card-detalhes-icons">
        <span class="icon texto-det">
          <span class="material-icons">king_bed</span>
          {{ quartosFormatados(a) }}
        </span>
        <span class="icon texto-det">
          <span class="material-icons">bathtub</span>
          {{ banheirosFormatados(a) }}
        </span>
        <span class="icon texto-det">
          <span class="material-icons">garage</span>
          {{ vagasFormatadas(a) }}
        </span>
      </div>

      <a
        [routerLink]="'/imovel/' + a.id"
        class="btn btn-primary btn-ver-detalhes"
      >
        Ver detalhes
      </a>
    </div>
  </div>
</ng-container>
